<launch>
    <!-- 启动海龟仿真器 -->
    <node pkg="turtlesim" type="turtlesim_node" name="sim" output="screen" />

    <node pkg="rosservice" type="rosservice" name="rsv1" args="call --wait /kill 'turtle1'" output="screen"/>

    <!-- 创建4个乌龟的tf广播器 -->
  

    <node pkg="leader_and_follower" type="follow_broadcaster.py" name="boardcast2_node" output="screen" >
      <param name="turtle" type="string" value="turtle2"/>
    </node>

    <node pkg="leader_and_follower" type="follow_broadcaster.py" name="boardcast3_node" output="screen" >
      <param name="turtle" type="string" value="turtle3"/>
    </node>
     <node pkg="leader_and_follower" type="follow_broadcaster.py" name="boardcast4_node" output="screen" >
      <param name="turtle" type="string" value="turtle4"/>
    </node>
      <node pkg="leader_and_follower" type="broadcaster.py" name="boardcast1_node" output="screen" >
      <param name="turtle" type="string" value="leader"/>
    </node>

    <node pkg="leader_and_follower" type="service.py" name="service" output="screen"/>
    <node pkg="leader_and_follower" type="client.py" name="client" output="screen"/>
    

    <!-- 创建4个乌龟的tf listener -->
    <node pkg="leader_and_follower" type="listener.py" name="listener_node" output="screen" >
    </node>
    
 </launch>